@charset "utf-8";
/*-----------------[初始化]--------------*/
*{ outline:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin: 0; padding: 0;}
table {border-collapse: collapse; border-spacing: 0;}
fieldset,img {border: 0;}
ol,ul {list-style: none;}
caption,th {text-align: left;}
q:before,q:after {content: '';}
abbr,acronym {border: 0;}
body{font-family:"微软雅黑","Microsoft Yahei",Arial, Helvetica, sans-serif; font-size: 14px;}
a{color: #333; outline:none; text-decoration:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
a:hover{ text-decoration:none; color: #066bb7}
img{max-width: 100%;}
img,.ani{
	transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	-o-transition: .3s;
}
input,textarea,select,button{font-size: 14px;font-family:"微软雅黑","Microsoft Yahei",Arial, Helvetica, sans-serif;
  outline: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
input[type='submit'],input[type='reset'],input[type='button'],button,select{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type='submit'],input[type='reset'],input[type='button'],button{cursor: pointer;border:0;}

/* 横向导航 */
@media only screen and (min-width:750px) {  html {    font-size: 100px !important  }}
@media only screen and (max-width:750px) {  html {    font-size: 96.6667px !important  }}
@media only screen and (max-width:700px) {  html {    font-size: 93.3333px !important  }}
@media only screen and (max-width:675px) {  html {    font-size: 90px !important  }}
@media only screen and (max-width:650px) {  html {    font-size: 86.6667px !important  }}
@media only screen and (max-width:625px) {  html {    font-size: 83.3333px !important  }}
@media only screen and (max-width:600px) {  html {    font-size: 80px !important  }}
@media only screen and (max-width:575px) {  html {    font-size: 76.6667px !important  }}
@media only screen and (max-width:550px) {  html {    font-size: 73.3333px !important  }}
@media only screen and (max-width:525px) {  html {    font-size: 70px !important  }}
@media only screen and (max-width:500px) {  html {    font-size: 66.6667px !important  }}
@media only screen and (max-width:475px) {  html {    font-size: 63.3333px !important  }}
@media only screen and (max-width:450px) {  html {    font-size: 60px !important  }}
@media only screen and (max-width:425px) {  html {    font-size: 56.6667px !important  }}
@media only screen and (max-width:400px) {  html {    font-size: 53.3333px !important  }}
@media only screen and (max-width:375px) {  html {    font-size: 50px !important  }}
@media only screen and (max-width:350px) {  html {    font-size: 46.6667px !important  }}
@media only screen and (max-width:325px) {  html {    font-size: 43.3333px !important  }}
@media only screen and (max-width:300px) {  html {    font-size: 40px !important  }}




.tc{text-align:center;}
.tl{text-align:left}
.tr{text-align:right}
.fl{float: left;}
.fr{float: right;}
/*布局*/
/* 清理浮动 */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix:after{zoom:1;}
.clear{clear: both;}

.rdhalf{-moz-border-radius:50%;-webkit-border-radius:50%;-ms-border-radius:50%;-o-border-radius:50%;border-radius:50%;}
.rdwhole{-moz-border-radius: 100%; /* Firefox */
  -webkit-border-radius:  100%; /* Safari 和 Chrome */
  border-radius:  100%; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
  behavior: url(ie-css3.htc)} 
  
a{transition:0.3s; -webkit-transition:0.3s; -moz-transition:0.3s; -o-transition:0.3s}
.wp{width: 100%; max-width:1200px;margin: 0 auto; }





/*scroll 样式*/
/*.scoll::-webkit-scrollbar { width: 2px; height: 2px}

.scoll::-webkit-scrollbar-button:vertical { display: none}

.scoll::-webkit-scrollbar-corner,.scoll::-webkit-scrollbar-track {  background-color: #ccc;}

.scoll::-webkit-scrollbar-thumb {  border-radius: 0; background-color: #016EC5;}

body::-webkit-scrollbar {width:5px;height:5px;background-color:#F5F5F5;}

body::-webkit-scrollbar-track {-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:10px;background-color:#F5F5F5;}

body::-webkit-scrollbar-thumb {border-radius:5px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#bdbdbd;}*/







/*@font-face {
  font-family: 'iconfont';
  src: url('../font/iconfont.eot');
  src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'),
  url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}*/

/*弹窗通用样式*/
.pupBox{display: block; background-color: rgba(0,0,0,0.5); position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 99999}
.pupCell{display: table-cell; vertical-align: middle; text-align: center; position: relative;}
.pupMain{
	position: relative; 
	text-align: left; 
    background-color: #fff; 
    margin: 0 auto; 
    width: 40%; 
    overflow: hidden;
   box-sizing: border-box;
   padding:20px 10px;
}
.pupClose{position: absolute; right: 15px; top: 8px; font-size: 20px; cursor: pointer;}

/*  弹窗内容 html
    <div class="pupBox" id="account_add">
         <div class="pupCell">
              <div class="pupMain">
                   <p class="pupClose">X</p>
              </div>
         </div>
    </div>
//弹窗引用 html
    <span data-id="account_add" class="pupcu"></span>
*/



/*-webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/


/*-------------------------------公用样式结束-----------------------------------*/

